---
let { title, date, content, imgSrcs } = Astro.props;

import SlideComponent from "./SlideShow";

import "@/scss/styles.scss";
import { Image } from "astro:assets";

import { getActivities, getActivitiesDetail } from "../lib/microcms";
const response2 = await getActivities({
    fields: ["id", "title", "date", "content", "images?.url"],
});
const { activitiesId } = Astro.params;
const activities = await getActivitiesDetail(activitiesId as string);
---
<ul>
    {response2.contents.map((activities: any) => (
        <section id="article" class="p-article w-full">
            <div class="p-article__content">
                <div class="p-article__content__left">
                    <div class="p-article__content__left__top">
                        <h4 class="p-article__content__left__top__title">
                            {activities.title}
                        </h4>
                        <h5 class="p-article__content__left__top__date">
                            {activities.date}
                        </h5>
                    </div>

                    <p class="p-article__content__left__content">
                        {activities.content}
                    </p>
                </div>

                <div class="p-article__content__right">
                    <img src={activities.images?.url} />
                </div>
            </div>
        </section>
    ))}
</ul>;
---
