---
let {title, date, content, imgSrcs} = Astro.props;

import SlideComponent from "./SlideShow";
---

<section id="article" class="p-article w-full">
    <div class="p-article__content">
        <div class="p-article__content__left">
            <div class="p-article__content__left__top">
                <div class="p-article__content__left__top__title">
                    {title}
                </div>
                <div class="p-article__content__left__top__date">
                    {date}
                </div>
            </div>
            
            <div>
                {content}
            </div>
        </div>
        
        <div class="p-article__content__right">
            <SlideComponent imgProps={imgSrcs} client:only="preact"/>
        </div>
    </div>
    <div class="bg"></div>
</section>