---
let {title, date, content, color} = Astro.props;
---

<div class="award">
    <div class="award_content">
        <div class="award_left_rectangle" style=`background-color: ${color};`>

        </div>
        <div class="award_right">
            <div class="award_top">
                <div class="title">{title}</div>
                <div class="date">{date}</div>
            </div>
            <p>
                {content}
            </p>
        </div>
    </div>
    <div class="award_bg"></div>
</div>