---
let {title, date, content, color} = Astro.props;
---

<div class="award">
    <div class="award__content">
        <div class="award__content__left__rectangle" style=`background-color: ${color};`>
        </div>
        <div class="award__content__right">
            <div class="award__content__right___top">
                <div class="award__content__right__top__title">{title}</div>
                <div class="award__content__right__top__date">{date}</div>
            </div>
            <p>
                {content}
            </p>
        </div>
    </div>
    <div class="award__bg"></div>
</div>