---

---

<footer id="footer">
    <div class="content">
        <h6 class="helvetica_light">Copyright © 竿友会 All Rights Reserved</h6>
        <h6 class="helvetica_light">Powered by WINC</h6>
    </div>
</footer>
