---
import { Image } from 'astro:assets';
import headerLogo from '../assets/logo.png';
---

<header>
    <div>
        <Image src={headerLogo} alt="header_logo">
    </div>
    <ul class="header_link">
        <li>
            <a>大会実績</a>
        </li>
        <li>
            <a>サークル情報</a>
        </li>
        <li>
            <a>歴史</a>
        </li>
        <li class="invitation">
            <a>Join us!</a>
            <div class="bg_invitation"></div>
        </li>
    </ul>
</header>
