---
let {title} = Astro.props;
---

<div class="headline">
    <div class="left line"></div>
    <div class="title">
        {title}
    </div>
    
    <div class="right line"></div>
</div>