---
let {title} = Astro.props;
---

<div class="headline">
    <span class="headline__left line"></span>
    <h2 class="headline__title">
        {title}
    </h2>
    
    <span class="headline__right line"></span>
</div>