---
let {jp, en} = Astro.props;
---

<div class="label">
    <div class="label_top">
        {jp}
    </div>
    <div class="label_bottom">
        <div class="en">
            {en}
        </div>
        <div class="dots">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
</div>