---
let {jp, en} = Astro.props;
---

<div class="label">
    <div class="label_top zenkaku_light">
        {jp}
    </div>
    <div class="label_bottom zenkaku_light">
        <h2 class="en">
            {en}
        </h2>
        <div class="dots">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
</div>