---
import '@/scss/slideshow2.scss';
---
<script>
const slide = document.getElementById('slide0');
const prev = document.getElementById('prev0');
const next = document.getElementById('next0');
const indicator = document.getElementById('indicator0');
const lists = document.querySelectorAll('.list0');
const totalSlides = lists.length;
let count = 0;
let autoPlayInterval;
function updateListBackground() {
  for (let i = 0; i < lists.length; i++) {
    lists[i].style.backgroundColor = i === count % totalSlides ? '#000' : '#fff';
  }
}
function nextClick() {
  slide.classList.remove(`slide${count % totalSlides + 1}`);
  count++;
  slide.classList.add(`slide${count % totalSlides + 1}`);
  updateListBackground();
}
function prevClick() {
  slide.classList.remove(`slide${count % totalSlides + 1}`);
  count--;
  if (count < 0) count = totalSlides - 1;
  slide.classList.add(`slide${count % totalSlides + 1}`);
  updateListBackground();
}
function startAutoPlay() {
  autoPlayInterval = setInterval(nextClick, 3000);
}
function resetAutoPlayInterval() {
  clearInterval(autoPlayInterval);
  startAutoPlay();
}
next.addEventListener('click', () => {
  nextClick();
  resetAutoPlayInterval();
});
prev.addEventListener('click', () => {
  prevClick();
  resetAutoPlayInterval();
});
indicator.addEventListener('click', (event) => {
  if (event.target.classList.contains('list')) {
    const index = Array.from(lists).indexOf(event.target);
    slide.classList.remove(`slide${count % totalSlides + 1}`);
    count = index;
    slide.classList.add(`slide${count % totalSlides + 1}`);
    updateListBackground();
    resetAutoPlayInterval();
  }
});
startAutoPlay();
</script>

<!-- スライドの外枠 -->
<div class="slide0-wrapper">
    <!-- スライド（コンテンツ） -->
    <div id="slide0" class="slide0">
      <div>
        <p class="slide1">スライド１</p>
      </div>
      <div>
        <p class="slide2">スライド２</p>
      </div>
      <div>
        <p class="slide3">スライド３</p>
      </div>
    </div>
    <!-- 左右のボタン -->
    <span id="prev0" class="prev0"></span>
    <span id="next0" class="next0"></span>
    <!-- インジケーター -->
    <ul class="indicator0" id="indicator0">
      <li class="list0"></li>
      <li class="list0"></li>
      <li class="list0"></li>
    </ul>