---
import '@/scss/slideshow2.scss';
import { Image } from "astro:assets";
import dummy1 from "@/assets/images/dummy1.webp";
import dummy2 from "@/assets/images/dummy2.webp";
---
<body>
  <div class="swiper">
    <!-- スライド要素全体を囲む-->
    <div class="swiper-wrapper">
      <!--スライド-->
      <div class="swiper-slide"><Image src={dummy1} alt={""}></div>
      <div class="swiper-slide"><Image src={dummy2} alt={""}></div>
      <div class="swiper-slide"><Image src={dummy1} alt={""}></div>
    </div>
    <!--ページネーション オプション -->
    <div class="swiper-pagination"></div>
    
    <!-- ナビゲーションボタン オプション -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    
    <!-- スクロールバー オプション -->
    <div class="swiper-scrollbar"></div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" ></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const swiper = new Swiper(".swiper", {
      // スライドを無限にループさせる
      loop: true,
      autoplay: {
      /* スライドを3秒表示し切り替える*/
      delay: 3000,
      },
      // ページネーションの設定
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },

      // ナビゲーションボタンの設定
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },

      // スクロールバーの設定
      scrollbar: {
        el: ".swiper-scrollbar",
        draggable: true,
      },
    });
  });
</script>
</body>