---
let {width, height} = Astro.props;
---
<div class="absolute" 
    style=`
    width: ${width}; 
    height: ${height}; 
    top: 9px; 
    left: 9px`
    >
    </div>
<div class="slip" style=`width: ${width}; height: ${height}`>
    
</div>