---
let {title, content} = Astro.props;
---

<div class="status_elem">
    <div class="top">
        <div class="tag_bg"></div>
        <div class="title">{title}</div>
    </div>
    <p class="bottom">
        {content}
    </p>
</div>