// Breakpoints
$breakpointMobile: 590px;
$breakpoint-md: 767px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// コンテンツ幅
$content-width: 1200px;

$headerFont: 20px;

$slideWidth: 818px;
$slideHeight: 616px;

$photoCardWidth: 150px;
$photoCardHeight: 150px;

$articleComponentNum: 2;

$bgBlue: #e6fbff;
$strongBlue: #7aebff;
