@use "./variables" as *;

.history__wrapper {
    display: none;
    align-items: center;
    position: relative;
    margin: 3% 0;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    height: 600px;
    margin: auto 0;
    display: flex;
    scrollbar-width: none;
    @media (max-width: $breakpoint-md) {
      flex-direction: column;
      justify-content: start;
      align-items: center;
      overflow-y: scroll;
      height: 800px;
      margin: 5% auto;
    }
    &__border {
      position: absolute;
      background-color: #b0dfe7;
      z-index: -2;
      top: 400px;
      width: 3000px;
      height: 2px;
      @media (max-width: $breakpoint-md) {
        width: 4px;
        height: 2400px;
        left: 50%;
        top: 0;
      }
    }
  }
  
  .history__wrapper__guide {
    position: absolute;
    right: 10%;
    bottom: 0px;
    z-index: 2;
    display: flex;
    cursor: pointer;
    &__icon {
      transform: rotate(-90deg);
      margin: -6px 0px 0px 0px;
      transition: all 0.3s ease;
    }
  
    &__icon.shrinking {
      transform: scale(0.8) rotate(-90deg);
      @media (max-width: $breakpoint-md) {
        transform: scale(0.8);
      }
    }
  
    h6 {
      margin-left: 1.5rem;
    }
  
    @media (max-width: $breakpoint-md) {
      right: 30%;
      flex-direction: column-reverse;
      bottom: 5%;
      &__icon {
        transform: rotate(0);
        display: flex;
        justify-content: center;
        margin-top: 1rem;
      }
      h6 {
        margin-left: -0rem;
      }
    }
  }
  #period {
    margin-left: 5%;
    @media (max-width: $breakpoint-md) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 3% auto;
    }
  }
  
  .p-period__shrink {
    transform: rotate(-45deg);
    border-bottom: 2px solid #b0dfe7;
    flex-shrink: 0;
    position: relative;
    width: 204px;
    height: 110px;
    display: inline-block;
    margin-left: 150px;
    align-self: center;
    cursor: pointer;
    @media (min-width: 1980px){
      width: 100%;
      height: auto;
    }
    @media (max-width: $breakpoint-md) {
      transform: rotate(-35deg);
      margin-left: 0;
      display: block;
      width: 117px;
      margin: 100px 0;
      margin-left: 20px;
    }
  
    &__left__circle {
      position: absolute;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #b0dfe7;
      bottom: -16px;
      left: -2px;
    }
    &__right__circle {
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #b0dfe7;
      bottom: -8px;
      right: -8px;
    }
  
    &__date {
      position: absolute;
      bottom: -20px;
      left: 30px;
      text-align: center;
      font-size: 4rem !important;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 6px;
  
      @media (max-width: $breakpoint-md) {
        margin-top: 35%;
      }
    }
  
    &__title {
      position: absolute;
      bottom: -32px;
      left: 42px;
      font-size: 1.25rem !important;
      font-family: "Zen Kaku Gothic New", serif;
      font-weight: 300;
      font-style: normal;
      white-space: nowrap;
    }
  
    @media (max-width: $breakpoint-md) {
      &__left__circle {
        width: 20px;
        height: 20px;
        left: 0;
        bottom: -10px;
      }
  
      &__right__circle {
        width: 11px;
        height: 11px;
      }
  
      h2 {
        font-size: 1.5rem;
        bottom: -5px;
        left: 32px;
      }
      h5 {
        font-size: 1rem;
        left: 2px;
      }
    }
  }
  
  .p-period__detail {
    display: inline-block;
    flex-shrink: 0;
    width: 500px;
    height: 500px;
    border: 1px solid #000;
    position: relative;
    padding: 3%;
    margin-left: 20%;
    &__year {
      font-size: 4rem !important;
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 8px;
      font-weight: bold;
    }
  
    &__title {
      font-size: 1.5rem !important;
      font-family: "Zen Kaku Gothic New", serif;
      font-weight: 500;
      font-style: normal;
    }
  
    p {
      margin-top: 3%;
      font-size: 1.25rem Im !important;
      font-family: "Zen Kaku Gothic New", serif;
      font-weight: 300;
      font-style: normal;
      white-space: pre-wrap;
    }
    @media (max-width: $breakpoint-md) {
      margin: 5% 0;
      width: 85%;
      height: auto;
      p {
        font-size: 1rem !important;
      }
      &__year {
        font-size: 1.5rem !important;
      }
      &__title {
        font-size: 1.125rem !important;
      }
    }
  }

  @media (min-width: 1980px){
    .history__wrapper {
        display: none;
        align-items: center;
        position: relative;
        margin: 3% 0;
        overflow-x: scroll;
        white-space: nowrap;
        width: 100%;
        height: 600px;
        margin: auto 0;
        display: flex;
        scrollbar-width: none;
        @media (max-width: $breakpoint-md) {
          flex-direction: column;
          justify-content: start;
          align-items: center;
          overflow-y: scroll;
          height: 800px;
          margin: 5% auto;
        }
        &__border {
          position: absolute;
          background-color: #b0dfe7;
          z-index: -2;
          top: 400px;
          width: 3000px;
          height: 2px;
          @media (max-width: $breakpoint-md) {
            width: 4px;
            height: 2400px;
            left: 50%;
            top: 0;
          }
        }
      }
      
      .history__wrapper__guide {
        position: absolute;
        right: 10%;
        bottom: 0px;
        z-index: 2;
        display: flex;
        cursor: pointer;
        &__icon {
          transform: rotate(-90deg);
          margin: -6px 0px 0px 0px;
          transition: all 0.3s ease;
        }
      
        &__icon.shrinking {
          transform: scale(0.8) rotate(-90deg);
          @media (max-width: $breakpoint-md) {
            transform: scale(0.8);
          }
        }
      
        h6 {
          margin-left: 1.5rem;
        }
      
        @media (max-width: $breakpoint-md) {
          right: 30%;
          flex-direction: column-reverse;
          bottom: 5%;
          &__icon {
            transform: rotate(0);
            display: flex;
            justify-content: center;
            margin-top: 1rem;
          }
          h6 {
            margin-left: -0rem;
          }
        }
      }
      #period {
        margin-left: 5%;
        @media (max-width: $breakpoint-md) {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 3% auto;
        }
      }
      
      .p-period__shrink {
        transform: rotate(-45deg);
        border-bottom: 2px solid #b0dfe7;
        flex-shrink: 0;
        position: relative;
        width: 204px;
        height: 110px;
        display: inline-block;
        margin-left: 150px;
        align-self: center;
        cursor: pointer;
        @media (min-width: 1980px){
          width: 100%;
          height: auto;
        }
        @media (max-width: $breakpoint-md) {
          transform: rotate(-35deg);
          margin-left: 0;
          display: block;
          width: 117px;
          margin: 100px 0;
          margin-left: 20px;
        }
      
        &__left__circle {
          position: absolute;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          background-color: #b0dfe7;
          bottom: -16px;
          left: -2px;
        }
        &__right__circle {
          position: absolute;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: #b0dfe7;
          bottom: -8px;
          right: -8px;
        }
      
        &__date {
          position: absolute;
          bottom: -20px;
          left: 30px;
          text-align: center;
          font-size: 4rem !important;
          font-weight: bold;
          font-family: Arial, Helvetica, sans-serif;
          letter-spacing: 6px;
      
          @media (max-width: $breakpoint-md) {
            margin-top: 35%;
          }
        }
      
        &__title {
          position: absolute;
          bottom: -32px;
          left: 42px;
          font-size: 1.25rem !important;
          font-family: "Zen Kaku Gothic New", serif;
          font-weight: 300;
          font-style: normal;
          white-space: nowrap;
        }
      
        @media (max-width: $breakpoint-md) {
          &__left__circle {
            width: 20px;
            height: 20px;
            left: 0;
            bottom: -10px;
          }
      
          &__right__circle {
            width: 11px;
            height: 11px;
          }
      
          h2 {
            font-size: 1.5rem;
            bottom: -5px;
            left: 32px;
          }
          h5 {
            font-size: 1rem;
            left: 2px;
          }
        }
      }
      
      .p-period__detail {
        display: inline-block;
        flex-shrink: 0;
        width: 500px;
        height: 500px;
        border: 1px solid #000;
        position: relative;
        padding: 3%;
        margin-left: 20%;
        &__year {
          font-size: 4rem !important;
          font-family: Arial, Helvetica, sans-serif;
          letter-spacing: 8px;
          font-weight: bold;
        }
      
        &__title {
          font-size: 1.5rem !important;
          font-family: "Zen Kaku Gothic New", serif;
          font-weight: 500;
          font-style: normal;
        }
      
        p {
          margin-top: 3%;
          font-size: 1.25rem Im !important;
          font-family: "Zen Kaku Gothic New", serif;
          font-weight: 300;
          font-style: normal;
          white-space: pre-wrap;
        }
        @media (max-width: $breakpoint-md) {
          margin: 5% 0;
          width: 85%;
          height: auto;
          p {
            font-size: 1rem !important;
          }
          &__year {
            font-size: 1.5rem !important;
          }
          &__title {
            font-size: 1.125rem !important;
          }
        }
      }
  }
  
  .p-period__detail::before {
    position: absolute;
    z-index: -1;
    content: "";
    background-color: $bgBlue;
    inset: 8px -8px -8px 8px;
  }
  
  .history {
    display: flex;
    flex-direction: column;
  }