@use "./variables.scss" as *;

/* ------------------- 共通要素ここから ------------------- */
.l-container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1400px;
  max-width: 100vw;
}

@media (min-width: $breakpoint-xl) {
  .l-container {
    max-width: 110vw;
    padding: 0 10px;
  }
}

p,
h1,
h2,
h3,
h4,
h5 {
  color: #000000d1;
  font-style: normal;

  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Zen Kaku Gothic New";
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  margin: 0;
  padding: 0;
}
/* ------------------- 共通要素ここまで ------------------- */
/* ------------------- Historyrmationここから ------------------- */

.p-History-top {
  overflow: hidden;
  margin-bottom: 10%;
  h1 {
    font-size: 4vw;
    text-align: center;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p {
    width: 70%;
    text-align: center;
    font-size: 1.7vw;
    margin: 0 auto;
  }
}

.p-History-top__ttl::before {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: black;
  margin-right: 2%;
}

.p-History-top__ttl::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: black;
  margin-left: 2%;
}

.slidewrapper {
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.slide {
  width: 55%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.p-activities__fish-bg {
  margin: 0 0 0 auto;
  width: 20vw;
  height: auto;
  margin-top: 2%;
}
/* ------------------- Historyここまで ------------------- */
/* ------------------- time-lineここから ------------------- */
.p-timeline {
  background-color: #e6fbff;
  position: relative;
  margin: 50px auto;

  height: 150%;
  padding-left: 20px;
  padding-top: 10%;
  padding-bottom: 10%;
  overflow: hidden;
}

@media (max-width: $breakpoint-md) {
  .p-timeline {
    height: auto;
    padding-top: 200px;
  }
}

/* タイムラインの各アイテム */
.timeline-item {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  position: relative;
  justify-content: space-between;
}

@media (max-width: $breakpoint-md) {
  .timeline-item {
    height: 300px;
  }
}

.line {
  content: "";
  position: absolute;
  top: -20vh;
  left: 6vw;
  width: 1vw;
  height: 170%;
  background: #b0dfe7;
  align-items: center;
}

@media (max-width: $breakpoint-md) {
  .line {
    width: 10px;
    height: 800px;
    top: -200px;
    left: 3%;
  }
}

/* ドット */
// .timeline-dot {
//   position: absolute;

//   left: -20vw;
//   width: 3vw;
//   height: 3vw;
//   background-color: #b0dfe7;
//   border-radius: 50%;
//   z-index: 1;
// }

/* コンテンツスタイル */
.timeline-content {
  flex: 1;
  padding-left: 40px;
  width: 10%;
  margin-top: 0;
  padding-left: 11vw;
}

.timeline-content h3 {
  margin: 0;
  font-size: 36px;
  font-weight: 100;
  position: relative;
  letter-spacing: 0.12em;
  width: 50vw;
}

@media (max-width: $breakpoint-md) {
  .timeline-content {
    p {
      width: 70vw !important;
      font-size: 11px !important;
      padding-bottom: 50px;
    }
  }
  .flexbox {
    display: flex;
  }
  .timeline-image {
    width: 70vw !important;
    height: auto;
    margin: 20% auto;
    padding-right: 0 !important;
  }
}

.slide1 {
  width: 100%;
  margin: 0 auto;
}

.timeline_ttl {
  color: black;
  position: absolute;
  position: relative;
  left: 7vw;
  top: 15vh;
  font-size: 3vw;
  text-decoration: underline;
  text-decoration-color: #b0dfe7;
  text-underline-offset: 6px; /* 下線と文字の間隔を調整 */
  text-decoration-thickness: 5px; /* 下線の太さを調整 */
}

@media (max-width: $breakpoint-md) {
  .timeline_ttl {
    left: 0vw;
    padding-left: 3px;
    padding-right: 3px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    p {
      font-size: 24px;
      font-weight: 500;
    }
  }
}

// .dot {
//   position: absolute;
//   top: 7vh;
//   left: 9vw;
//   font-size: 1.5vw;
//   color: #b0dfe7;
// }

// .timeline_ttl::after {
//   position: absolute;
//   content: "";
//   left: -2vw;
//   top: 9vh;
//   width: 12vw;
//   height: 5px;
//   z-index: 1;
//   background-color: #b0dfe7;
// }

@media (max-width: $breakpoint-md) {
  // .timeline_ttl::after {
  //   display: none;
  // }
}

.rotatebar {
  position: relative;
  position: absolute;

  content: "";
  left: 0;
  top: 28vh;
  width: 6vw;
  height: 7px;
  z-index: 1;
  transform: rotate(-45deg);
  background-color: #b0dfe7;
}

.timeline-content h3 {
  margin: 30px 0 10px 0;
  font-size: 1.7vw;
  color: #378290;
  font-size: 32px;
}

.timeline-content p {
  width: 55vw;
  font-size: 1.5vw;
  color: #444;
}

/* イメージボックス */
.timeline-image {
  height: auto;
  margin-right: 35px;
}

@media (min-width: $breakpoint-lg) {
  .timeline-image {
    margin-right: 8vw;
  }
}

@media (min-width: $breakpoint-xl) {
  .timeline-image {
    margin-right: 10vw;
  }
}

.desc {
  padding: 0.5em 1em;
  width: 100%;
  border-radius: 2px;
  background-color: #fff;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.2);
  font-size: 0.9em;
}

/* View More ボタン */

.button {
  margin: 0 auto;
  border: 1px solid #353535;
  position: relative;
  width: fit-content;
  cursor: pointer;
  padding: 1% 4%;
  background-color: #7aebff;
  &__content {
    display: flex;
    padding-bottom: 3px;
    padding-right: 3px;
    svg {
      margin-left: 6px;
      align-self: flex-end;
    }
  }
}

.button::before {
  position: absolute;
  inset: -3px 3px 3px -3px;
  content: "";
  border: 1px solid #353535;
}

.button:hover {
  transition: all 0.4s ease;
  background-color: rgba($color: black, $alpha: 0.1);
  inset: 0;
}

@media (min-width: $breakpoint-md) {
  .timeline-image {
    width: 20vw;
    height: auto;
    padding-right: 0px !important;
  }
}

/* ------------------- History-contentsここまで ------------------- */

@media (min-width: $breakpoint-md) {
  .pc-none {
    display: none;
  }
}

@media (max-width: $breakpoint-md) {
  .sp-none {
    display: none;
  }
}

.p-timeline__fish-bg_wrapper {
  position: relative;
}

.p-timeline__fish-bg {
  position: absolute;
  width: 20vw;
  height: auto;
  top: -5vh;
  left: 75vw;
  overflow: visible;
  z-index: 99;
}
