@use "./variables.scss" as *;

/* ------------------- 共通要素ここから ------------------- */
.l-container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1400px;
  max-width: 100vw;
}

@media (min-width: $breakpoint-xl) {
  .l-container {
    max-width: 120vw;
    padding: 0 10px;
  }
}

p,
h1,
h2,
h3,
h4 h5 {
  color: #000000d1;
  font-style: normal;

  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Zen Kaku Gothic New";
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  margin: 0;
  padding: 0;
}
/* ------------------- 共通要素ここまで ------------------- */
/* ------------------- Informationここから ------------------- */

.p-Info-top {
  overflow: hidden;

  h1 {
    font-size: 5vw;
    text-align: center;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.p-Info-top__ttl::before {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: black;
  margin-right: 2%;
}

.p-Info-top__ttl::after {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: black;
  margin-left: 2%;
}

.top_content {
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.slide {
  width: 55%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.p-activities__fish-bg {
  margin: 0 0 0 auto;
  width: 20vw;
  height: auto;
  margin-top: 2%;
}
/* ------------------- Informationここまで ------------------- */
/* ------------------- Statusここから ------------------- */

.p-Status {
  overflow: hidden;
  background-color: #f6fdfe;
  height: auto;
  display: flex;

  padding-bottom: 10%;
  &__titlewrapper {
    margin-left: 7%;
    padding-top: 3%;
    p {
      margin-left: 3%;
      font-size: 2vw;
      font-weight: 100;
      font-family: "Zen Kaku Gothic New";
    }
    &__flexbox {
      display: flex;
      h1 {
        line-height: 0.8;
        font-size: 4vw;
        font-weight: 100;
        position: relative;
        font-family: "Zen Kaku Gothic New";
        display: block;
        margin-right: 1%;
        letter-spacing: 0.12em;
      }
      pre {
        position: relative;
      }
    }
  }
  &__img-wrapper {
    display: flex;
    img {
      width: 25vw;
      height: auto;
      margin-top: 2%;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .p-Status__titlewrapper {
    p {
      width: 10vw;
      font-size: 12px;
    }
  }

  .p-Status__titlewrapper__flexbox {
    h1 {
      width: 10vw;
      font-size: 24px;
    }
  }

  .p-Status__img-wrapper {
    img {
      width: 33vw;
      height: auto;
    }
  }
}

.p-Status__titlewrapper__flexbox__title::after {
  content: "";
  width: 100%;
  height: 1px;
  display: inline-block;
  background-color: black;
  position: absolute;
  bottom: -10px;
  left: 0%;
}

.p-Status__titlewrapper__flexbox__margin::after {
  border-bottom: 5px dotted #000;
  content: "";
  position: absolute;
  transform: translateX(10%);
  bottom: -10px;
  left: 0;
  width: 50%;
}

@media (max-width: $breakpoint-md) {
  .p-Status__titlewrapper__flexbox__margin::after {
    display: none;
  }
}

.p-Status__flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: $breakpoint-md) {
  .p-Status__flexbox {
    display: flex !important;
    padding: 8% 0;
  }
}

.p-activities__contentswrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  &__leftcontents {
    width: 49%;
    margin: 0 1%;
    &__wrapper {
      p {
        margin-bottom: 2%;
        font-size: 1.7vw;
        font-weight: 100;
        text-align: center;
        letter-spacing: 0.25em;
      }
    }
  }
  &__rightcontents {
    width: 48%;
    margin: 0 1%;
    p {
      margin-top: 2%;
      font-size: 1.5vw;
      font-weight: 300;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .p-activities__contentswrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .p-activities__contentswrapper__img {
    width: 50vw;
    height: auto;
    padding: 5% 0;
  }
  .p-activities__contentswrapper__leftcontents__wrapper {
    p {
      font-size: 12px;
    }
  }
  .p-activities__contentswrapper__rightcontents {
    p {
      font-size: 10px;
    }
  }
  .p-activities__contentswrapper__leftcontents {
    width: 90%;
  }
  .p-activities__contentswrapper__rightcontents {
    width: 90%;
  }
}

.contentstitle {
  font-size: 1.7vw;
  font-weight: 300;
  position: relative;
  padding-bottom: 3%;
  letter-spacing: 0.25em;
}

@media (max-width: $breakpoint-md) {
  .contentstitle {
    font-size: 12px;
  }
  .link-wrapper {
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  .link-txt {
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 0.25em;
  }
  .icon-wrapper {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
}
.contentstitle::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 75%;
  background-color: #c5c5c5;
  position: absolute;
  top: -2px;
  left: -10px;
}
/* ------------------- Statusここまで ------------------- */
/* ------------------- Eventsここから ------------------- */

.p-Events {
  padding-bottom: 10%;
}

.p-Events__titlewrapper {
  margin-left: 7%;
  padding-top: 3%;
  p {
    font-size: 2vw;
    font-weight: 100;
    font-family: "Zen Kaku Gothic New";
  }
  &__flexbox {
    display: flex;
    h1 {
      font-size: 4vw;
      font-weight: 100;
      position: relative;
      font-family: "Zen Kaku Gothic New";
      display: block;
      margin-right: 1%;
      letter-spacing: 0.12em;
    }
    pre {
      position: relative;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .p-Events__titlewrapper {
    display: flex;
    justify-content: space-between;
    img {
      width: 100%;
      height: auto;
    }
    p {
      font-size: 12px;
    }
    h1 {
      font-size: 24px;
    }
  }
  .img-wrapper {
    width: 25vw;
    height: auto;
    margin: auto 0;
  }
}

.p-Events__titlewrapper__flexbox__title::after {
  content: "";
  width: 100%;
  height: 1px;
  display: inline-block;
  background-color: black;
  position: absolute;
  bottom: -10px;
  left: 0%;
}

@media (max-width: $breakpoint-md) {
  .p-Events__titlewrapper__flexbox__title::after {
    bottom: -5px;
  }
}

.p-Events__titlewrapper__flexbox__margin::after {
  border-bottom: 5px dotted #000;
  content: "";
  position: absolute;
  transform: translateX(10%);
  bottom: -10px;
  left: 0;
  width: 50%;
}

@media (max-width: $breakpoint-md) {
  .p-Events__titlewrapper__flexbox__margin::after {
    display: none;
  }
}

.p-Events__flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.p-Events {
  margin-top: 3%;
  margin-bottom: 5%;
  &__cardswrapper {
    margin-top: 5%;
    &__card {
      margin-top: 3%;
      &__flexbox {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        img {
          height: auto;
          width: 23vw;
        }
        &__txtbox {
          vertical-align: text-bottom;
          width: 70%;
          h3 {
            font-weight: 100;
            padding: 0.3rem 0rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid #a4a4a4;
            font-weight: bold;
            font-size: 2.7vw;
          }
          p {
            margin-top: 2vw;
            font-size: 1.4vw;
            font-weight: 100;
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .p-Events__cardswrapper__card__flexbox__txtbox {
    align-items: center;
    width: 90%;
    margin: 0 auto;
    h3 {
      font-size: 20px;
      border-bottom: none;
      text-align: center;
      margin: 0;
      font-weight: 100;
    }
    p {
      margin-top: 6%;
      font-size: 11px;
    }
    .leftimgwrapper {
      margin: 0 auto;
      height: auto;
      img {
        width: 100%;
      }
    }
  }
  .p-Events__cardswrapper {
    width: 100%;
  }
  .p-Events__cardswrapper__card__flexbox {
    flex-direction: column;
    width: 80%;
  }
}

.p-Events__leftbg {
  margin-top: 8%;
  margin-bottom: 8%;
  width: 20vw;
  height: auto;
}

.p-Events__rightbg {
  margin: 8% 0 8% auto;
  width: 20vw;
  height: auto;
}

/* ------------------- Eventsここまで ------------------- */
@media (min-width: $breakpoint-md) {
  .pc-none {
    display: none;
  }
}

@media (max-width: $breakpoint-md) {
  .sp-none {
    display: none;
  }
  .slide1 {
    margin: 0 auto !important;
    width: 85% !important;
    height: auto !important;
  }
}

.rightimg {
  margin-left: 3%;
  height: 94%;
}

@media (max-width: $breakpoint-md) {
  .rightimg {
    margin-left: 0;
  }
}
