@use "./variables" as *;

.slide_component {
  .next {
    z-index: 10;
    display: inline-block;
    position: absolute;
    top: 3%;
    left: 10%;
    cursor: pointer;
  }

  .prev {
    z-index: 10;
    display: inline-block;
    position: absolute;
    top: 3%;
    left: 3%;
    cursor: pointer;
  }

  .shrink {
    transform: scale(0.8);
    transition: all 0.3s ease;
  }
  &__navigation {
    display: flex;
    align-items: center;
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 50;
    width: 40%;
    @media (max-width: $breakpoint-xl) {
      width: 45%;
    }
    h6 {
      font-size: 1.37vw;
      @media (max-width: $breakpoint-xl) {
        font-size: 1.25rem;
      }
    }

    h6.left {
      text-align: start;
    }

    h6.right {
      right: 0;
      text-align: end;
    }
    @media (max-width: $breakpoint-md) {
      display: none;
    }
    &__progress {
      width: 60%;
      height: 3px;
      display: flex;
      align-items: center;
      background-color: #b6b6b6;
      margin: 0 10%;
      border-radius: 3px;

      span {
        height: 3px;
        display: inline-block;
        border-radius: 2px;
      }
    }

    &__skip {
      display: flex;
      width: 40%;
      justify-content: space-between;
      margin-left: 5%;
      .next__custom {
        width: 3.33vw;
        z-index: 10;
        display: inline-block;
        cursor: pointer;
      }

      .prev__custom {
        width: 3.33vw;
        z-index: 10;
        display: inline-block;
        cursor: pointer;
      }
      @media (max-width: $breakpoint-lg) {
        .next__custom,
        .prev__custom {
          width: 36px;
        }
      }
    }
  }
  .slide_wrapper {
    position: relative;
    overflow: hidden;

    #slide {
      height: 100%;
      display: flex;
      transition: all 0.3s;
      div {
        width: 100%;
        height: auto;
        display: flex;
        text-align: center;
        justify-content: space-evenly;
        align-items: last baseline;
      }
    }

    .indicator {
      width: 100%;
      position: absolute;
      bottom: 10%;
      display: flex;
      column-gap: 18px;
      z-index: 10;
      justify-content: center;
      align-items: center;
    }

    .indicator li {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      list-style: none;
      background-color: #fff;
      border: 2px #000 solid;
      z-index: 100;
      cursor: pointer;
    }
    .indicator li:first-of-type {
      background-color: #000;
    }
  }
}
