*,
body,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
/* ↓ スライドの外枠 */
.slide0-wrapper {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden; /* はみ出したスライドを隠す */
}
/*  ↓ スライド（コンテンツ） */
.slide0 {
  /*スライド全体 */
  width: 300%;
  height: 100%;
  display: flex;
  transition: all 0.3s;
}
.slide0 div {
  /* スライド */
  width: 33.33%;
  height: 100%;
  font-size: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.slide1 {
  /* スライドさせるために必要なクラス */
  transform: translateX(0);
}
.slide2 {
  /* スライドさせるために必要なクラス */
  transform: translateX(-33.33%);
}
.slide3 {
  /* スライドさせるために必要なクラス */
  transform: translateX(-66.66%);
}
.slide0 div:nth-of-type(1) {
  /* 背景色 */
  background-color: #e1f3fc;
}
.slide0 div:nth-of-type(2) {
  /* 背景色 */
  background-color: #fce8f0;
}
.slide0 div:nth-of-type(3) {
  /* 背景色 */
  background-color: #e3f1e4;
}
/* ↓ 左右のボタン */
.next0 {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 10px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  -webkit-transform: rotate(45deg) translateY(50%);
  transform: rotate(45deg) translateY(50%);
}
.prev0 {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 25px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  -webkit-transform: rotate(-135deg) translateY(-50%);
  transform: rotate(-135deg) translateY(-50%);
}
/* ↓ インジケーター */
.indicator0 {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  column-gap: 18px;
  z-index: 10;
  justify-content: center;
  align-items: center;
}
.indicator0 li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  list-style: none;
  background-color: #fff;
  border: 2px #000 solid;
  cursor: pointer;
}
.indicator0 li:first-of-type {
  background-color: #000;
}
