@charset "UTF-8";

@use "./variables" as *;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 7%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    .header_link {
        display: flex;
        li {
            margin: 0 20px;
            font-style: "Zen Kaku Gothic New";
            font-size: 20px;
        }
    
        a {
    
        }
    
        a:hover {
            border-bottom: 1px solid rgba(0, 0, 0,0.3);
            color: rgba(0, 0, 0, 0.3);
            transition: all 0.3s ease;
        }
    
        .invitation {
            border: 1px solid #000;
            position: relative;
            // a {
            //     margin: 10px;
            // }
        }
    
        .bg_invitation {
            position: absolute;
            background-color: #7AEBFF;
            top: 2px;
            left: 2px;
            width: 68px;
            height: 32px;
            z-index: -1;
        }
    }
}

.top_content {
    display: flex;
    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.headline {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    .title {
        margin: 0 5%;
    }

    .line {
        width: 50%;
        height: 1px;
        background-color: black;

    }
}