@charset "UTF-8";

@use "./variables" as *;

html {
  scroll-behavior: smooth;
}

li {
    list-style: none;
}

body * {
  font-size: 16px;
}

.logo_top {
    display: flex;
}

.logo {
    z-index: 100;
    position: absolute;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 7%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  .header_link {
    display: flex;
    align-items: center;
    li {
      margin: 0 20px;
      font-style: "Zen Kaku Gothic New";
      font-size: 1.25rem;
    }

    a:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      color: rgba(0, 0, 0, 0.3);
      transition: all 0.3s ease;
    }

    .invitation {
      border: 1px solid #000;
      position: relative;
      width: 140px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 0;
    }

    .bg_invitation {
      position: absolute;
      background-color: #7aebff;
      top: 3px;
      left: 3px;
      width: 140px;
      height: 50px;
      z-index: -1;
    }

    .invitation:hover {
      .bg_invitation {
        top: 0px;
        left: 0px;
        opacity: 0.8;
        transition: all 0.4s ease;
      }
    }
  }
}

.top_content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7%;
  position: relative;

  .logo {
    right: 0;
    top: 10px;
  }

  .logo_big {
    position: absolute;
    bottom: -15%;
    right: 0;
    z-index: 100;
  }
  .left_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px 0 40px 8%;
    width: 30%;
    h1 {
      font-size: 6rem;
      font-family: Arial, Helvetica, sans-serif;
    }

    .join_link {
      border: 1px solid #000;
      position: relative;
      width: 211px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .link_content {
        display: flex;

        a {
          font-size: 1.5rem;
        }

        svg {
          margin-left: 6px;
          align-self: flex-end;
        }
      }

      .bg_link {
        position: absolute;
        background-color: #7aebff;
        top: 3px;
        left: 3px;
        width: 211px;
        height: 70px;
        z-index: -1;
      }
    }

    .join_link:hover {
      .bg_link {
        top: 0px;
        left: 0px;
        opacity: 0.8;
        transition: all 0.4s ease;
      }
    }
  }
  .right_content {
    position: relative;
    border: 1px solid #000;
    margin: 2%;
    width: $slideWidth;
    height: $slideHeight;

    .img_wrapper {
      position: absolute;
      top: 8px;
      left: 8px;
      width: $slideWidth;
      height: $slideHeight;
    //   z-index: -1;
    }
  }
}

.headline {
  display: flex;
  align-items: center;
  justify-content: center;
  .title {
    margin: 0 5%;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 4rem;
  }

  .line {
    width: 50%;
    height: 1px;
    background-color: black;
  }
}

.label {
  .label_top {
    font-size: 1.25rem;
  }

  .label_bottom {
    display: flex;

    .en {
      font-size: 3rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 300;
      letter-spacing: 8px;
      border-bottom: 1px solid #000;
    }

    .dots {
      display: flex;
      align-self: flex-end;
      margin-left: 10px;
      .dot {
        width: 3px;
        height: 3px;
        background-color: #000;
        margin-right: 6px;
      }
    }
  }
}

.activity {
  padding: 0 8%;
  display: flex;
  flex-direction: column;
  position: relative;
  .right {
    top: 8%;
    right: 0;
  }

  .left {
    bottom: 6%;
    left: 0;
  }
}

.button_margin {
  margin-top: 3.5%;
  display: flex;
  align-self: center;
}

.article {
  position: relative;
  width: 1200px;
  height: 310px;
  margin-top: 2%;

  .content {
    display: flex;
    border: 1px solid #000;
    position: relative;
    width: inherit;
    height: inherit;
    padding: 3%;

    .left {
      width: 70%;
      margin-right: 5%;
      .top {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #000;
        align-self: flex-end;
        .title {
          font-size: 2rem;
          font-family: "Noto Sans JP", sans-serif;
          font-optical-sizing: auto;
          font-weight: 400;
          font-style: normal;
          align-self: flex-end;
        }

        .date {
          font-family: "Noto Sans JP", sans-serif;
          font-optical-sizing: auto;
          font-weight: 200;
          font-style: normal;
          align-self: flex-end;
        }
      }
    }

    .right {
      width: 30%;
      height: max-content;
      border: 1px solid #000;
    }
  }

  .bg {
    position: absolute;
    width: inherit;
    height: inherit;
    top: 12px;
    left: 12px;
    z-index: -1;
    background-color: #e6fbff;
  }
}

.button_container {
  width: 141px;
  height: 54px;
  border: 1px solid #000;
  position: relative;
  cursor: pointer;
  .button_content {
    display: flex;
    flex-direction: column;
    padding: 2%;
    height: 100%;

    a {
      height: 75%;
      display: flex;
      align-items: end;
      justify-content: center;
      font-weight: lighter;
      font-size: 1.25rem;
      font-family: Arial, Helvetica, sans-serif;
    }

    svg {
      height: 25%;
      display: flex;
      justify-content: end;
      align-self: flex-end;
      align-items: end;
      margin-right: 0;
    }
  }

  .button_bg {
    position: absolute;
    background-color: #7aebff;
    top: 1.5px;
    left: 1.5px;
    width: inherit;
    height: inherit;
    z-index: -1;
  }
}

.button_container:hover {
  .button_bg {
    top: 0px;
    left: 0px;
    opacity: 0.8;
    transition: all 0.4s ease;
  }
}

.awards {
  padding: 0 8%;
  display: flex;
  flex-direction: column;
  position: relative;
  .award_container {
    margin-top: 20px;
  }

  .right {
    top: 9%;
    right: 0;
  }

  .left {
    bottom: 4%;
    left: 0;
  }
}

.award {
  display: flex;
  position: relative;
  width: 100%;
  height: 117px;
  border: 1px solid #000;
  margin-bottom: 7px;

  .award_content {
    padding: 20px 3%;
    display: flex;
    width: 100%;

    .award_right {
      width: 100%;
      .award_top {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #000;
        width: 100%;
        .title {
          font-size: 1.5rem;
          font-family: "Zen Kaku Gothic New", serif;
          font-weight: 400;
          font-style: normal;
          align-self: flex-end;
        }

        .date {
          font-family: "Zen Kaku Gothic New", serif;
          font-weight: 300;
          font-style: normal;
          align-self: flex-end;
        }
      }
    }

    p {
      font-size: 1.25rem;
      font-family: "Zen Kaku Gothic New", serif;
      font-weight: 300;
      font-style: normal;
    }
  }

  .award_left_rectangle {
    width: 9px;
    height: 100%;
    margin-right: 3%;
  }

  .award_bg {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: -1;
    background-color: #e6fbff;
  }
}

.invitations {
  padding: 5% 8% 0 8%;
  display: flex;
  flex-direction: column;
  position: relative;

  .right {
    top: 2%;
    right: 0;
  }

  .left {
    bottom: -2%;
    left: 0;
  }
}

.invitation {
  width: 100%;
  height: fit-content;
  position: relative;
  .bg {
    position: absolute;
    width: inherit;
    height: 134px;
    background-color: #e6fbff;
    filter: blur(1.5rem);
    z-index: -1;
  }

  .invitation_content {
    display: flex;
    padding: 2%;
    width: inherit;
    .left_content {
      .date {
        font-size: 1.25rem;
        font-family: "Zen Kaku Gothic New", serif;
        font-weight: 300;
        font-style: normal;
      }
    }

    .right_content {
      width: 100%;
      padding: 0 5%;
      .top_content {
        .title {
          font-size: 1.5rem;
          font-family: "Noto Sans JP", sans-serif;
          font-weight: 400;
          font-style: normal;
        }
      }

      .middle_content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 12px;
        p {
          font-size: 1.25rem;
          font-family: "Zen Kaku Gothic New", serif;
          font-weight: 300;
          font-style: normal;
        }

        svg {
          align-self: flex-end;
        }
      }
    }
  }
}

.photo_container {
    align-items: center;
  position: relative;
  margin: 3% 0;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  box-sizing: border-box;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  scrollbar-width: none;
  margin: 5% 0;
    .img_box {
        flex-shrink: 0;
        width: $photoCardWidth;
        height: $photoCardHeight;
        margin: 0 1%;
        border: 1px solid #000;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    }

    .odd {
        margin-top: 5%;
    }

    .even {
        margin-bottom: 5%;
    }
}

.status_elem {
  width: 100%;
  display: flex;
  flex-direction: column;
  .top {
    display: flex;
    .tag_bg {
      background-color: #c5c5c5;
      width: 4px;
      height: 40px;
    }
    .title {
      font-size: 1.5rem;
      font-family: "Zen Kaku Gothic New", serif;
      font-weight: 300;
      font-style: normal;
      display: flex;
      align-items: center;
      margin-left: 4px;
    }
  }

  .bottom {
    align-self: center;
    font-size: 1.5rem;
    font-family: "Zen Kaku Gothic New", serif;
    font-weight: 300;
    font-style: normal;
    margin: 0 4px;
  }
}

.informations {
  padding: 0 8%;
  display: flex;
  flex-direction: column;
}

.status {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5%;
  .left {
    width: 50%;
    .content {
      margin-top: 20px;
      margin-left: 5%;
    }
    p {
        font-size: 1.25rem;
        
      }
    .link {
        margin-top: 4%;
        display: flex;
        p {
            font-size: 1.25rem;
            font-family: "Zen Kaku Gothic New", serif;
            font-weight: 300;
            font-style: normal;
        }
        a {
          font-size: 1.25rem;
          margin: 0 12px;
        }
      }
  }

  .right {
    display: flex;
    justify-content: end;
    width: 560px;
    height: 420px;
    position: relative;
    border: 1px solid rgba(#000, 0.3);
    .content {
      position: absolute;
      top: 8px;
      left: 8px;
      width: 560px;
      height: 420px;
      z-index: -1;
    }

    .bg {
      width: 50px;
      height: 50px;
      position: absolute;
    }

    .one {
      top: -5%;
      left: 20%;
    }

    .two {
      bottom: 30%;
      left: -8%;
    }

    .three {
      top: 20%;
      right: 30%;
    }
  }
}

.activity_mini {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10%;

  .left {
    width: 35%;
    .content {
      width: 100%;
      font-family: "Zen Kaku Gothic New", serif;
      font-weight: 300;
      font-style: normal;
      padding-top: 5%;
      .title {
        font-size: 2.25rem;
        font-family: "Zen Kaku Gothic New", serif;
        font-weight: 300;
        font-style: normal;
        border-bottom: 1px solid #000;
        margin-bottom: 4%;
        width: fit-content;
      }
    }

    p {
      font-size: 1rem;
    }

    
  }

  .right {
    margin-top: 12%;
    width: 560px;
    height: 420px;
    position: relative;
    outline: 1px solid rgba(0, 0, 0, 0.3);
    .img_container {
      z-index: -1;
      position: absolute;
      top: 10px;
      left: 10px;
      width: 560px;
      height: 420px;
    }
    .bg {
      position: absolute;
    }
    .one {
      top: -20%;
      left: -20%;
    }
    .two {
      bottom: -7%;
      left: 10%;
    }

    .three {
      top: -5%;
      right: -10%;
    }
  }
}

footer {
  box-shadow: 0 -10px 5px rgba(0, 0, 0, 0.3);
  background-color: white;

  .content {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.25rem;
    padding: 27px 0;
  }
}

.to_top {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  right: 60px;
}

.to_top.locked {
  position: fixed;
  bottom: 102px;
  z-index: 1000;
  right: 60px;
}

.absolute {
  z-index: -3;
  position: absolute;
  background-color: #e6fbff;
}

.slip {
  z-index: -2;
  border: 0.5px solid rgba($color: #000000, $alpha: 0.3);
  position: relative;
}

.test-wrapper {
  align-items: center;
  position: relative;
  margin: 3% 0;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  height: 600px;
  box-sizing: border-box;
  margin: auto 0;
  display: flex;
  align-items: center;
  scrollbar-width: none;
  .border {
    position: absolute;
    border: 1px solid #b0dfe7;
    z-index: -2;
    top: 400px;
    width: 2400px;
    height: 2px;
  }
}

.period_wrapper {
  transform: rotate(-45deg);
  border-bottom: 2px solid #b0dfe7;
  flex-shrink: 0;
  position: relative;
  width: 204px;
  height: 110px;
  display: inline-block;
  margin: 0 auto;
  align-self: center;
  cursor: pointer;

  .left_circle {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #b0dfe7;
    bottom: -16px;
    left: -2px;
  }
  .right_circle {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #b0dfe7;
    bottom: -8px;
    right: -8px;
  }

  .date {
    position: relative;
    bottom: -28px;
    left: 16px;
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 6px;
  }

  .title {
    position: absolute;
    bottom: -32px;
    left: 42px;
    font-size: 20px;
    font-family: "Zen Kaku Gothic New", serif;
    font-weight: 300;
    font-style: normal;
    white-space: nowrap;
  }
}

.mini_period_wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 266px;

  span {
    display: inline-block;
    width: 60px;
    height: 1px;
    transform: rotate(45deg);
    border-bottom: 1px solid #b0dfe7;
  }

  p {
    color: #a0a0a0;
  }

  .date {
    position: relative;
    bottom: 16px;
    left: 50px;
    text-align: center;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #b0dfe7;
  }

  .title {
    position: absolute;
    bottom: -4px;
    left: 48px;
    font-size: 1rem;
    font-family: "Zen Kaku Gothic New", serif;
    font-weight: 300;
    font-style: normal;
    white-space: nowrap;
  }
}

.detail_container {
  display: inline-block;
  flex-shrink: 0;
  width: 750px !important;
  height: 500px;
  border: 1px solid #000;
  position: relative;
  padding: 3%;
  margin-right: 3%;
  margin-left: 8%;

  .year {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 8px;
    font-weight: bold;
  }

  .title {
    font-size: 1.5rem;
    font-family: "Zen Kaku Gothic New", serif;
    font-weight: 500;
    font-style: normal;
  }

  p {
    margin-top: 3%;
    font-size: 1.25rem;
    font-family: "Zen Kaku Gothic New", serif;
    font-weight: 300;
    font-style: normal;
    white-space: pre-wrap;
  }

  .bg {
    width: 750px;
    height: 500px;
    position: absolute;
    z-index: -1;
    top: 8px;
    left: 8px;
    background-color: #e6fbff;
  }
}

.history {
  display: flex;
  flex-direction: column;
}

.slide-wrapper {
    width: 100%;
    height: $slideHeight;
    position: relative;
    overflow: hidden; /* はみ出したスライドを隠す */
  }
  /*  ↓ スライド（コンテンツ） */
  .slide { /*スライド全体 */
    width: 300%;
    height: 100%;
    display: flex;
    transition: all 0.3s;
  }
  .slide div { /* スライド */
    width: 33.33%;
    height: 100%;
    font-size: 16px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .slide1 { /* スライドさせるために必要なクラス */
    transform: translateX(0);
  }
  .slide2 { /* スライドさせるために必要なクラス */
    transform: translateX(-33.33%);
  }
  .slide3 { /* スライドさせるために必要なクラス */
    transform: translateX(-66.66%);
  }
  .slide div:nth-of-type(1){ /* 背景色 */
    background-color: #E1F3FC;
  }
  .slide div:nth-of-type(2){ /* 背景色 */
    background-color: #FCE8F0;
  }
  .slide div:nth-of-type(3){ /* 背景色 */
    background-color: #E3F1E4;
  }
  /* ↓ 左右のボタン */
  .next {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 10px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #000;
    border-right: solid 3px #000;
    -webkit-transform: rotate(45deg) translateY(50%);
    transform: rotate(45deg) translateY(50%);
  }
  .prev {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 25px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #000;
    border-right: solid 3px #000;
    -webkit-transform: rotate(-135deg) translateY(-50%);
    transform: rotate(-135deg) translateY(-50%);
  }
  /* ↓ インジケーター */
  .indicator {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    column-gap: 18px;
    z-index: 10;
    justify-content: center;
    align-items: center;
  }
  .indicator li {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    list-style: none;
    background-color: #fff;
    border: 2px #000 solid;
    cursor: pointer;
  }
  .indicator li:first-of-type {
    background-color: #000;
  }