@charset "UTF-8";

@use "./variables" as *;

/* ------------------- Topここから ------------------- */
.p-top {
  padding: 2% 0 12% 8%;
  position: relative;
  justify-content: space-between;

  .fish {
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 10;
  }

  .fish_big {
    position: absolute;
    bottom: 7%;
    right: 0;
    z-index: 10;
  }
  &__left__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 0;

    &__join__link {
      border: 1px solid #353535;
      position: relative;
      width: fit-content;
      cursor: pointer;
      padding: 2% 5%;
      margin-top: 5%;
      &__content {
        display: flex;
        padding-bottom: 3px;
        padding-right: 3px;
        svg {
          margin-left: 6px;
          align-self: flex-end;
        }
      }
    }

    &__join__link::before {
      position: absolute;
      background-color: $strongBlue;
      inset: 3px -3px -3px 3px;
      content: "";
      z-index: -1;
    }

    &__join__link:hover::before {
      transition: all 0.4s ease;
      background-color: rgba($strongBlue, 0.8);
      inset: 0;
    }
  }

  &__right__content {
    display: inline-block;
    position: relative;
    height: $slideHeight;
    margin-left: 0;
    width: $slideWidth;
    margin-right: 6px;

    &__img__wrapper {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 100%;
      height: 100%;
    }

    .slide_wrapper {
      position: relative;
      overflow: hidden;

      #slide {
        height: 100%;
        display: flex;
        transition: all 0.3s;
        div {
          width: 100%;
          height: auto;
          display: flex;
          text-align: center;
          justify-content: space-evenly;
          align-items: last baseline;
        }
      }

      .next {
        margin-right: 5%;
        z-index: 10;
        display: inline-block;
        cursor: pointer;
      }

      .prev {
        z-index: 10;
        display: inline-block;
        cursor: pointer;
      }

      .indicator {
        width: 100%;
        position: absolute;
        bottom: 10%;
        display: flex;
        column-gap: 18px;
        z-index: 10;
        justify-content: center;
        align-items: center;
      }

      .indicator li {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        list-style: none;
        background-color: #fff;
        border: 2px #000 solid;
        z-index: 50;
        cursor: pointer;
      }
      .indicator li:first-of-type {
        background-color: #000;
      }
    }
    .slide_wrapper {
      position: relative;
      overflow: hidden;

      #slide {
        height: 100%;
        display: flex;
        transition: all 0.3s;
        div {
          width: 100%;
          height: auto;
          display: flex;
          text-align: center;
          justify-content: space-evenly;
          align-items: last baseline;
        }
      }

      .next {
        margin-right: 5%;
        z-index: 10;
        display: inline-block;
        cursor: pointer;
      }

      .prev {
        z-index: 10;
        display: inline-block;
        cursor: pointer;
      }

      .indicator {
        width: 100%;
        position: absolute;
        bottom: 10%;
        display: flex;
        column-gap: 18px;
        z-index: 10;
        justify-content: center;
        align-items: center;
      }

      .indicator li {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        list-style: none;
        background-color: #fff;
        border: 2px #000 solid;
        z-index: 50;
        cursor: pointer;
      }
      .indicator li:first-of-type {
        background-color: #000;
      }
    }
  }

  &__right__content::before {
    border: 1px solid #000;
    inset: -4px 4px 4px -4px;
    position: absolute;
    content: "";
    z-index: 2;
  }
}

/* ------------------- Topここまで ------------------- */
