@charset "UTF-8";

@use "./variables" as *;

/* ------------------- Topここから ------------------- */
.p-top {
  padding: 2% 0 12% 8%;
  position: relative;
  justify-content: space-between;
  &__md__fish {
    display: none;
    width: 50.4vw;
    @media (max-width: $breakpoint-md) {
      display: block;
      position: absolute;
      z-index: 5;
      bottom: 10vw;
      left: 3%;
    }
  }

  @media (max-width: $breakpoint-md) {
    padding: 10% 0 20% 2%;
    .fish {
      display: none;
    }
    .fish_big {
      display: none;
    }
  }
  .fish {
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 10;
    width: 30%;
  }

  .fish_big {
    position: absolute;
    width: 70vw;
    bottom: -8vw;
    right: 0;
    z-index: 10;
  }
  &__left__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 0;
    width: 35%;
    @media (max-width: $breakpoint-lg) {
      padding: 8% 3%;
    }

    @media (max-width: $breakpoint-md) {
      padding: 8% 3%;
      &__join__link {
        margin-top: 100px;
        a {
          font-size: 1rem;
        }
        @media (max-width: $breakpointMobile) {
          svg {
            display: none;
          }
        }
      }
    }

    @media (max-width: $breakpointMobile) {
      &__headline {
        font-size: 6.4vw;
      }
    }

    &__join__link {
      border: 1px solid #353535;
      position: relative;
      width: fit-content;
      cursor: pointer;
      padding: 2% 5%;
      margin-top: 5%;
      &__content {
        display: flex;
        padding-bottom: 3px;
        padding-right: 3px;
        a {
          font-size: 1.67vw;
          @media (max-width: $breakpoint-xl) {
            font-size: 1.5rem;
          }
          @media (max-width: $breakpoint-md) {
            font-size: 1rem;
          }
        }
        &__svg {
          width: 2.5vw;
          margin-left: 0.41vw;
          align-self: flex-end;
          min-width: 36px;
          @media (max-width: $breakpoint-md) {
            width: 2.25vw;
            height: auto;
            margin-left: 6px;
          }
          @media (max-width: $breakpointMobile) {
            display: none;
            width: 0;
            height: 0;
          }
        }
      }
    }

    &__join__link::before {
      position: absolute;
      background-color: $strongBlue;
      inset: 3px -3px -3px 3px;
      content: "";
      z-index: -1;
      @media (max-width: $breakpoint-md) {
        inset: 1.5px -1.5px -1.5px 1.5px;
      }
    }

    &__join__link:hover::before {
      transition: all 0.4s ease;
      background-color: rgba($strongBlue, 0.8);
      inset: 0;
    }
  }

  &__right__content {
    display: inline-block;
    position: relative;
    width: 60%;
    height: auto;
    margin-left: 0;
    margin-right: 6px;
    .prev {
      width: 50px;
    }

    .next {
      width: 50px;
    }

    @media (max-width: $breakpoint-md) {
      width: 65%;
    }
  }

  &__right__content::before {
    border: 1px solid #000;
    inset: -4px 4px 4px -4px;
    position: absolute;
    content: "";
    z-index: 2;
  }
}

/* ------------------- Topここまで ------------------- */
